## Quiz Problem:

__Importing the require libraries for analysis__

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

sns.set_style('darkgrid')

# Evaluation metric
# importing linear Regression and metric mean square error
from sklearn.linear_model import LinearRegression as LR
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# rmse = np.sqrt(mse)
# rss = np.sum(np.square(y_test - predicted_values))
# always round answer to 3 decimal place

In [3]:
# importing linear Regression and metric mean square error
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# rmse = np.sqrt(mse)
# rss = np.sum(np.square(y_test - predicted_values))
# always round answer to 3 decimal place

In [5]:
# importing dataset for analysis

df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [7]:
# fiting a linear model on T2 adn T6
# where t2 is x , t6 is y

df_copy = df[['T2', 'T6']]

# the train set

features = df_copy.drop(['T6'], axis=1)

# the target features
target = df_copy['T6']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, target,
                                                    test_size=0.3,random_state=42)
 

from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train,y_train)
predicted = lr.predict(x_test)

In [8]:
# R square
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted)
round(r2_score, 2)

0.64

In [9]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, predicted)
round(mae, 2)

2.82

In [16]:
#rmse = np.sqrt(mse)
mse = mean_squared_error(y_test, predicted)
round(mse, 2)

13.18

In [17]:
rmse = np.sqrt(mse)
round(rmse, 2)

3.63

In [15]:
rss = np.sum(np.square(y_test - predicted))
round(rss, 2)

78033.97

In [13]:
# Ridge regression

In [14]:
mse = mean_squared_error(y_test, ridge_predict)
round(mse, 2)

13.18

In [15]:
rmse = np.sqrt(mse)
round(rmse, 2)

3.63

In [18]:
# working on the dataset

df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [19]:
# dropping the light and date features as they are not needed to build the model
df = df.drop(columns=['date','lights'])

In [20]:
from sklearn.preprocessing import MinMaxScaler

# creating an instance of the minmaxscaler
scaler = MinMaxScaler()


# Applying the transformation to the dataset
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [21]:
normalised_df.describe()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,0.081958,0.517061,0.364271,0.308303,0.561170,0.421038,0.489601,0.518499,0.485143,0.407272,...,0.478234,0.512655,0.399089,0.609828,0.733558,0.288554,0.574321,0.468810,0.499742,0.499742
std,0.095818,0.169595,0.109512,0.159412,0.114438,0.166676,0.152107,0.184044,0.185289,0.176266,...,0.209647,0.171833,0.170978,0.172080,0.196067,0.175087,0.181457,0.189803,0.289984,0.289984
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.037383,0.419219,0.283735,0.195542,0.490299,0.298272,0.380122,0.399099,0.335894,0.281653,...,0.323621,0.386313,0.278671,0.503101,0.609649,0.142857,0.430769,0.339367,0.249895,0.249895
50%,0.046729,0.507920,0.347675,0.283499,0.563408,0.407112,0.456302,0.501502,0.458387,0.387960,...,0.468262,0.485651,0.383173,0.623256,0.785088,0.261905,0.600000,0.453997,0.497934,0.497934
75%,0.084112,0.613516,0.441519,0.392537,0.641016,0.505982,0.607260,0.630631,0.618722,0.505460,...,0.594173,0.627956,0.495445,0.735659,0.890351,0.392857,0.600000,0.595777,0.751701,0.751701
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [22]:
# the train set
#features_df = normalised_df.drop('Appliances', axis=1)
features = normalised_df.drop(['Appliances'], axis=1)

# the target features
#target_Appliances = normalised_df["Appliances"]
target = normalised_df['Appliances']

In [29]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, target,test_size=0.3, random_state=42)

In [30]:
lm = LinearRegression()
lm.fit(x_train, y_train)
test_predict = lm.predict(x_test)

In [45]:
mae = mean_absolute_error(y_test,test_predict)
round(mae, 3)

0.05

In [56]:
rmse = np.sqrt(mean_squared_error(y_test, test_predict))
np.round(rmse,3)

0.088

In [49]:
mse = mean_squared_error(y_test, test_predict)
round(mse, 3)

0.008

In [57]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
ridge_predict = ridge_reg.predict(x_test)

In [58]:
rmse = np.sqrt(mean_squared_error(y_test, ridge_predict))
np.round(rmse,3)

0.088

In [50]:
#using alpha of 0.001
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
lasso_predict = lasso_reg.predict(x_test)

In [54]:
rmse = np.sqrt(mean_squared_error(y_test, lasso_predict))
np.round(rmse,3)

0.094

In [53]:
rmse

0.09358170467245137

In [61]:
lasso_reg.coef_
#4 values are non zero

array([ 0.        ,  0.01787993,  0.        , -0.        ,  0.        ,
        0.        , -0.        ,  0.        , -0.        ,  0.        ,
        0.        , -0.        , -0.        , -0.        ,  0.        ,
       -0.00011004, -0.        , -0.        ,  0.        , -0.        ,
       -0.04955749,  0.00291176,  0.        ,  0.        , -0.        ,
       -0.        ])

In [62]:
def get_weights_df(model, feat, col_name):
    # this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features',col_name]
    weights_df[col_name].round(3)
    return weights_df

In [63]:
linear_model_weights = get_weights_df(lm, x_train, 'Linear_Model_Weights')
ridge_weights_df = get_weights_df(ridge_reg,x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train,'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')